.header-container {
  max-width: 1320px;
  margin: 0 auto;
  height: 60px;
}

.header-top {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
}

.header-top:hover {
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}

.header-btn {
  background: none;
  border: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1.25rem 1rem 1rem;
  cursor: pointer;
}

.header-btn:hover {
  color: rgb(0, 101, 255);
}

.header-nav {
  margin-left: auto;
}

.login {
  font-size: 1.14rem;
  padding: 0.5rem 1.5rem;
  color: rgb(23, 43, 77);
}

.get-trello {
  background-color: rgb(0, 101, 255);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  font-size: 1.14rem;
}

.get-trello:hover {
  background-color: rgb(7, 71, 166);
}

.header-container .nav-burger {
  margin-left: auto;
  background: none;
  border: transparent;
  display: none;
}
.nav-burger > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 3.5rem;
  justify-content: center;
  align-items: center;
}
.nav-burger > div > span {
  height: 3px;
  width: 24px;
  background-color: rgb(23, 43, 77);
  border-radius: 3px;
}

.nav-details {
  height: 451.312px;
  transition: height 0.3s ease 0s;
}

.nav-item-details-1 {
  padding: 2rem 0px 4.75rem;
  width: calc(200px + 50vw);
}
.nav-items-heading {
  border-bottom: 1px solid rgb(223, 225, 230);
  color: rgb(23, 43, 77);
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.nav-item-details-1 > div {
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  margin: 0px 40px 0px auto;
  padding: 0px 2rem 0px 1rem;
  width: 640px;
}

.nav-item-details-2 {
  padding: 2rem 0px 4.75rem;
  width: calc(-200px + 50vw);
  background-color: rgba(234, 230, 255, 0.4);
}

.header-anchor {
  text-decoration: none;
  padding: 1rem;
  width: 33.3333%;
}

.link-data {
  padding-bottom: 0.6rem;
}
.link-data > div {
  padding: 0.14rem 0.71rem 0px 0.15rem;
}
.link-data > p {
  color: rgb(23, 43, 77);
}

.link-data + div > p {
  color: rgb(80, 95, 121);
  font-size: 0.75rem;
}

.nav-items-heading + nav {
  flex-wrap: wrap;
  margin: 0px -1rem;
}

.met-trello-content {
  color: rgb(80, 95, 121);
  font-size: 0.75rem;
  margin: 0px auto 0px calc(40px - 1rem);
  width: 240px;
}

.met-trello {
  border-bottom-color: rgb(153, 141, 217);
  margin-bottom: 1rem;
}

@media screen and (max-width: 991px) {
  .header-container .nav-burger {
    display: block;
  }
  .header-container .nav-items {
    display: none;
  }
  .header-container .nav-routes {
    display: none;
  }
}
